<?xml version="1.0"?>
<!--
/**
 * Disable Newsletter Subscription Success Email Extension by Paulo Henrique Araujo da Silva
 *
 * @category  PHAS
 * @package   PHAS_DisableNewsletterEmail
 * @author    Paulo Henrique Araujo da Silva <pauloharaujos@gmail.com>
 * @copyright Copyright (c) 2022 Paulo Henrique Araujo da Silva (https://github.com/pauloharaujos)
 * @license https://opensource.org/licenses/MIT
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Model\Subscriber">
        <plugin name="disable_newsletter_success" type="PHAS\DisableNewsletterEmail\Plugin\Newsletter\Model\Subscriber" />
    </type>
</config>
